@import "./variables.css";


.stats-card {

    display: flex;

    justify-content: space-between;

    align-items: center;

    border: 1px solid rgba(255,255,255,.2);

    border-radius: 30px;

    background: rgba(255,255,255,.02);

    backdrop-filter: blur(20px);

    padding: 50px;
}

.stat {

    flex: 1;

    text-align: center;

}

.stat h1 {

    color: white;

    font-size: 4rem;

    font-weight: bold;

}

.stat p {

    color: #9CA3AF;

    letter-spacing: 2px;

    font-size: .9rem;

}